@model IEnumerable<OnlineAppointmentSystem.Entity.DTOs.ServiceDTO>
@{
    ViewData["Title"] = "Ana Sayfa";
}


<div class="container py-5">
    <div class="text-center mb-8">
        <h1 class="display-4 font-weight-bold mb-4">Hastane Randevu Sistemine Hoţ Geldiniz</h1>
        <p class="lead text-muted mb-5">Hýzlý ve kolay bir ţekilde doktor randevularýnýzý yönetin</p>
        <div class="d-flex justify-content-center gap-4">
            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary btn-lg px-5 py-3">
                Giriţ Yap
            </a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-purple btn-lg px-5 py-3">
                Hemen Kayýt Ol
            </a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Kolay Randevu Oluţturma Card -->
        <div class="col">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body text-center" >
                    <div class="icon-circle mb-4">
                        <i data-feather="stethoscope" class="h3 text-purple-600"></i>
                    </div>
                    <h3 class="h5 font-weight-bold mb-3">Kolay Randevu Oluţturma</h3>
                    <p class="text-muted">Birkaç týklama ile hýzlýca doktor randevunuzu oluţturun ve yönetin.</p>
                </div>
            </div>
        </div>
        <!-- Hatýrlatmalar Card -->
        <div class="col">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body text-center">
                    <div class="icon-circle mb-4">
                        <i data-feather="bell" class="h3 text-purple-600"></i>
                    </div>
                    <h3 class="h5 font-weight-bold mb-3">Hatýrlatmalar</h3>
                    <p class="text-muted">Randevu öncesi hatýrlatmalar ile hiçbir doktor randevunuzu kaçýrmayýn.</p>
                </div>
            </div>
        </div>
        <!-- Doktor Yönetimi Card -->
        <div class="col">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body text-center">
                    <div class="icon-circle mb-4">
                        <i data-feather="users" class="h3 text-purple-600"></i>
                    </div>
                    <h3 class="h5 font-weight-bold mb-3">Doktor Yönetimi</h3>
                    <p class="text-muted">Doktorlarýn takvimlerini ve randevularýný kolayca yönetin.</p>
                </div>
            </div>
        </div>
    </div>
</div>